@charset "UTF-8";

body {
    background-color: rgb(115, 149, 160);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: justify;
}

body > button {
    border-radius: 10px;
    background-color: black;
}

button > a {
    text-decoration: none;
    color: white;
}

body > img {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);    
}